# CIA World Factbook Project

The CIA Factbook contains various statistics about all of the countries in the world, including:

 - population — the global population.
 - population_growth — the annual population growth rate, as a percentage.
 - area — the total land and water area.

In [1]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\florence\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\florence\anaconda3\lib\site-packages (from ipython-sql) (1.10.0)
Requirement already satisfied: ipython>=1.0 in c:\users\florence\anaconda3\lib\site-packages (from ipython-sql) (6.1.0)
Requirement already satisfied: prettytable<1 in c:\users\florence\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\florence\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\florence\anaconda3\lib\site-packages (from ipython-sql) (1.1.13)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\florence\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\florence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (36.5.0.post20170921)
Requirement already satisfied: jedi>=0.10 in c:\users\florence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.10.2)
Requirement already satisfied: decorator in c:\users\florence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.1.2)
Requirement already satisfied: pickleshare in c:\users\florence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.4)
Requirement already satisfied: simplegeneric>0.8 in c:\users\florence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\florence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: prompt_toolkit<2.0.0,>=1.0.4 in c:\users\florence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (1.0.15)
Requirement already satisfied: pygments in c:\users\florence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.2.0)
Requirement already satisfied: colorama in c:\users\florence\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.3.9)
Requirement already satisfied: wcwidth in c:\users\florence\anaconda3\lib\site-packages (from prompt_toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.1.7)

WARNING: You are using pip version 20.2.2; however, version 21.3.1 is available.
You should consider upgrading via the 'c:\users\florence\anaconda3\python.exe -m pip install --upgrade pip' command.

In [2]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

In [3]:
%%sql
SELECT *
  FROM sqlite_master
 WHERE type='table';

 * sqlite:///factbook.db
Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

In [4]:
%%sql
SELECT *
  FROM facts
 LIMIT 5;

 * sqlite:///factbook.db
Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

The table contains 8 columns; these 8 columns are:

 - name - name of the country
 - area - total land and water area of the country
 - area_land - land area of the country in square kilometres
 - area_water - water area of the country in square kilometres
 - population - population of the country
 - population_growth - how quickly the population of the country grows as a      percentage
 - birth_rate - number of births per 1,000 people 
 - death_rate - number of deaths per 1,000 people
 - migration_rate

In [5]:
%%sql
SELECT MIN(population),
       MAX(population),
       MIN(population_growth),
       MAX(population_growth)
  FROM facts;

 * sqlite:///factbook.db
Done.

[(0, 7256490011, 0.0, 4.02)]

The minimum population is zero, and the maximum population is approximately 7.2 billion, which is around the world's total population. The maximum popluation growth is 4.02%.

In [6]:
%%sql
SELECT *
  FROM facts
 WHERE population == (SELECT MIN(population)
                        FROM facts);

 * sqlite:///factbook.db
Done.

[(250, 'ay', 'Antarctica', None, 280000, None, 0, None, None, None, None)]

In [7]:
%%sql
SELECT *
  FROM facts
 WHERE population == (SELECT MAX(population)
                        FROM facts);

 * sqlite:///factbook.db
Done.

[(261, 'xx', 'World', None, None, None, 7256490011, 1.08, 18.6, 7.8, None)]

We need to exclude Antartica and the world from our analysis of the minimum and maximum population, as Antartica only has research scientists there, many of whom do not live there permanently, and the world row is for the entire world, which includes all of the countries on the list.

In [8]:
%%sql
SELECT MIN(population),
       MAX(population),
       MIN(population_growth),
       MAX(population_growth)
  FROM facts
 WHERE name <> 'World';

 * sqlite:///factbook.db
Done.

[(0, 1367485388, 0.0, 4.02)]

In [9]:
%%sql
SELECT AVG(population) AS avg_pop, AVG(area) AS avg_area
  FROM facts
 WHERE name <> 'World';

 * sqlite:///factbook.db
Done.

[(32242666.56846473, 555093.546184739)]

In [10]:
%%sql
SELECT *
  FROM facts
 WHERE population > (SELECT AVG(population)
                       FROM facts
                      WHERE name <>'World' AND name <> 'Antartica')
 AND area <  (SELECT AVG(area)
                FROM facts
               WHERE name <> 'World' AND name <> 'Antartica');

 * sqlite:///factbook.db
Done.

[(14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46),
 (65, 'gm', 'Germany', 357022, 348672, 8350, 80854408, 0.17, 8.47, 11.42, 1.24),
 (80, 'iz', 'Iraq', 438317, 437367, 950, 37056169, 2.93, 31.45, 3.77, 1.62),
 (83, 'it', 'Italy', 301340, 294140, 7200, 61855120, 0.27, 8.74, 10.19, 4.1),
 (85, 'ja', 'Japan', 377915, 364485, 13430, 126919659, 0.16, 7.93, 9.51, 0.0),
 (91, 'ks', 'Korea, South', 99720, 96920, 2800, 49115196, 0.14, 8.19, 6.75, 0.0),
 (120, 'mo', 'Morocco', 446550, 446300, 250, 33322699, 1.0, 18.2, 4.81, 3.36),
 (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09),
 (139, 'pl', 'Poland', 312685, 304255, 8430, 38562189, 0.09, 9.74, 10.19, 0.46),
 (163, 'sp', 'Spain', 505370, 498980, 6390, 48146134, 0.89, 9.64, 9.04, 8.31),
 (173, 'th', 'Thailand', 513120, 510890, 2230, 67976405, 0.34, 11.19, 7.8, 0.0),
 (182, 'ug', 'Uganda', 241038, 197100, 43938, 37101745, 3.24, 43.79, 10.69, 0.74),
 (185, 'uk', 'United Kingdom', 243610, 241930, 1680, 64088222, 0.54, 12.17, 9.35, 2.54),
 (192, 'vm', 'Vietnam', 331210, 310070, 21140, 94348835, 0.97, 15.96, 5.93, 0.3)]

Some of these countries are known for being densely populated, however I'm surprised that neither China nor India is on this list, as they're both known for their large populations and being densely populated.

In [11]:
%%sql

SELECT name, population
  FROM facts
 WHERE name <> 'World' AND population == (SELECT MAX(population)
                                            FROM facts
                                            WHERE name <> 'World');

 * sqlite:///factbook.db
Done.

[('China', 1367485388)]

In [12]:
%%sql

SELECT name, population_growth
  FROM facts
 WHERE name <> 'World' AND population_growth == (SELECT MAX(population_growth)
                                            FROM facts
                                            WHERE name <> 'World');

 * sqlite:///factbook.db
Done.

[('South Sudan', 4.02)]

## Countries with highest water to land ratio

In [13]:
%%sql

SELECT name, CAST(area_water AS FLOAT) / area_land AS water_land_ratio
  FROM facts
 WHERE name <> 'World' AND name <> 'Antartica'
 ORDER BY water_land_ratio DESC
 LIMIT 10;

 * sqlite:///factbook.db
Done.

[('British Indian Ocean Territory', 905.6666666666666),
 ('Virgin Islands', 4.520231213872832),
 ('Puerto Rico', 0.5547914317925592),
 ('Bahamas, The', 0.3866133866133866),
 ('Guinea-Bissau', 0.2846728307254623),
 ('Malawi', 0.25939625850340137),
 ('Netherlands', 0.22571032366565366),
 ('Uganda', 0.22292237442922375),
 ('Eritrea', 0.16435643564356436),
 ('Liberia', 0.15623961794019933)]

The highest average water area to land area ratios belong to relatively small islands; Malawi is the country with the highest water to land ratio that isn't an island or group of islands. Only 2 countries/territories contain more water than land.

In [14]:
%%sql

SELECT COUNT(*)
  FROM facts
 WHERE name <> 'World' AND name <> 'Antartica';

 * sqlite:///factbook.db
Done.

[(260,)]

## Countries with the highest population density

In [15]:
%%sql

SELECT name, CAST(population AS FLOAT) / area AS pop_density
  FROM facts
 WHERE name <> 'World' AND name <> 'Antartica'
 ORDER BY pop_density DESC
 LIMIT 10;

 * sqlite:///factbook.db
Done.

[('Macau', 21168.964285714286),
 ('Monaco', 15267.5),
 ('Singapore', 8141.279770444763),
 ('Hong Kong', 6445.041516245487),
 ('Gaza Strip', 5191.819444444444),
 ('Gibraltar', 4876.333333333333),
 ('Bahrain', 1771.8592105263158),
 ('Maldives', 1319.6409395973155),
 ('Malta', 1310.01582278481),
 ('Bermuda', 1299.9259259259259)]

This list is quite different to the list we got previously, and mostly consists of very small countries.

## Countries that have a higher death rate than birth rate

In [16]:
%%sql

SELECT name, death_rate, birth_rate
  FROM facts
 WHERE death_rate > birth_rate;

 * sqlite:///factbook.db
Done.

[('Austria', 9.42, 9.41),
 ('Belarus', 13.36, 10.7),
 ('Bosnia and Herzegovina', 9.75, 8.87),
 ('Bulgaria', 14.44, 8.92),
 ('Croatia', 12.18, 9.45),
 ('Czech Republic', 10.34, 9.63),
 ('Estonia', 12.4, 10.51),
 ('Germany', 11.42, 8.47),
 ('Greece', 11.09, 8.66),
 ('Hungary', 12.73, 9.16),
 ('Italy', 10.19, 8.74),
 ('Japan', 9.51, 7.93),
 ('Latvia', 14.31, 10.0),
 ('Lithuania', 14.27, 10.1),
 ('Moldova', 12.59, 12.0),
 ('Monaco', 9.24, 6.65),
 ('Poland', 10.19, 9.74),
 ('Portugal', 11.02, 9.27),
 ('Romania', 11.9, 9.14),
 ('Russia', 13.69, 11.6),
 ('Serbia', 13.66, 9.08),
 ('Slovenia', 11.37, 8.42),
 ('Ukraine', 14.46, 10.72),
 ('Saint Pierre and Miquelon', 9.72, 7.42)]

In [17]:
%%sql

SELECT name, death_rate, birth_rate, CAST(death_rate AS FLOAT) / birth_rate AS death_birth_ratio
  FROM facts
 WHERE death_rate > birth_rate AND name <> 'World'
ORDER BY death_birth_ratio DESC;

 * sqlite:///factbook.db
Done.

[('Bulgaria', 14.44, 8.92, 1.6188340807174888),
 ('Serbia', 13.66, 9.08, 1.5044052863436124),
 ('Latvia', 14.31, 10.0, 1.431),
 ('Lithuania', 14.27, 10.1, 1.4128712871287128),
 ('Hungary', 12.73, 9.16, 1.3897379912663756),
 ('Monaco', 9.24, 6.65, 1.3894736842105262),
 ('Slovenia', 11.37, 8.42, 1.350356294536817),
 ('Ukraine', 14.46, 10.72, 1.3488805970149254),
 ('Germany', 11.42, 8.47, 1.3482880755608027),
 ('Saint Pierre and Miquelon', 9.72, 7.42, 1.3099730458221026),
 ('Romania', 11.9, 9.14, 1.3019693654266957),
 ('Croatia', 12.18, 9.45, 1.288888888888889),
 ('Greece', 11.09, 8.66, 1.2806004618937643),
 ('Belarus', 13.36, 10.7, 1.2485981308411216),
 ('Japan', 9.51, 7.93, 1.1992433795712485),
 ('Portugal', 11.02, 9.27, 1.1887810140237325),
 ('Russia', 13.69, 11.6, 1.1801724137931033),
 ('Estonia', 12.4, 10.51, 1.1798287345385348),
 ('Italy', 10.19, 8.74, 1.165903890160183),
 ('Bosnia and Herzegovina', 9.75, 8.87, 1.0992108229988726),
 ('Czech Republic', 10.34, 9.63, 1.0737279335410175),
 ('Moldova', 12.59, 12.0, 1.0491666666666666),
 ('Poland', 10.19, 9.74, 1.0462012320328542),
 ('Austria', 9.42, 9.41, 1.0010626992561105)]

Bulgaria has the highest death rate, and the countries that have the highest death to birth rate ratios are mostly based in Europe.

In [18]:
%%sql

SELECT name, death_rate, birth_rate, CAST(death_rate AS FLOAT) / birth_rate AS death_birth_ratio
  FROM facts
 WHERE name <> 'World'
ORDER BY death_birth_ratio;

 * sqlite:///factbook.db
Done.

[('Kosovo', None, None, None),
 ('Holy See (Vatican City)', None, None, None),
 ('Ashmore and Cartier Islands', None, None, None),
 ('Christmas Island', None, None, None),
 ('Cocos (Keeling) Islands', None, None, None),
 ('Coral Sea Islands', None, None, None),
 ('Heard Island and McDonald Islands', None, None, None),
 ('Norfolk Island', None, None, None),
 ('Clipperton Island', None, None, None),
 ('French Southern and Antarctic Lands', None, None, None),
 ('Saint Barthelemy', None, None, None),
 ('Saint Martin', None, None, None),
 ('Niue', None, None, None),
 ('Tokelau', None, None, None),
 ('Bouvet Island', None, None, None),
 ('Jan Mayen', None, None, None),
 ('Svalbard', None, None, None),
 ('Akrotiri', None, None, None),
 ('British Indian Ocean Territory', None, None, None),
 ('Dhekelia', None, None, None),
 ('Pitcairn Islands', None, None, None),
 ('South Georgia and South Sandwich Islands', None, None, None),
 ('Navassa Island', None, None, None),
 ('Wake Island', None, None, None),
 ('United States Pacific Island Wildlife Refuges', None, None, None),
 ('Antarctica', None, None, None),
 ('Paracel Islands', None, None, None),
 ('Spratly Islands', None, None, None),
 ('Arctic Ocean', None, None, None),
 ('Atlantic Ocean', None, None, None),
 ('Indian Ocean', None, None, None),
 ('Pacific Ocean', None, None, None),
 ('Southern Ocean', None, None, None),
 ('Gaza Strip', 3.04, 31.11, 0.0977177756348441),
 ('Kuwait', 2.18, 19.91, 0.10949271722752386),
 ('Iraq', 3.77, 31.45, 0.11987281399046106),
 ('United Arab Emirates', 1.97, 15.43, 0.12767336357744655),
 ('Oman', 3.36, 24.44, 0.13747954173486088),
 ('Jordan', 3.79, 25.37, 0.14938904217579818),
 ('Solomon Islands', 3.85, 25.77, 0.14939852541715173),
 ('West Bank', 3.5, 22.99, 0.15224010439321445),
 ('Qatar', 1.53, 9.84, 0.15548780487804878),
 ('Vanuatu', 4.09, 25.04, 0.16333865814696485),
 ('Marshall Islands', 4.21, 25.6, 0.16445312499999998),
 ('Timor-Leste', 6.1, 34.16, 0.17857142857142858),
 ('Saudi Arabia', 3.33, 18.51, 0.179902755267423),
 ('Syria', 4.0, 22.17, 0.18042399639152007),
 ('Algeria', 4.31, 23.67, 0.18208702999577522),
 ('Guatemala', 4.77, 24.89, 0.1916432302129369),
 ('Turks and Caicos Islands', 3.1, 16.13, 0.1921884686918785),
 ('Bahrain', 2.69, 13.66, 0.19692532942898974),
 ('Libya', 3.58, 18.03, 0.1985579589572934),
 ('Malawi', 8.41, 41.56, 0.20235803657362847),
 ('Northern Mariana Islands', 3.71, 18.32, 0.20251091703056767),
 ('Brunei', 3.52, 17.32, 0.20323325635103925),
 ('Micronesia, Federated States of', 4.23, 20.54, 0.20593962999026294),
 ('American Samoa', 4.75, 22.89, 0.2075141983398864),
 ('Egypt', 4.77, 22.9, 0.20829694323144105),
 ('Madagascar', 6.81, 32.61, 0.20883164673413063),
 ('Yemen', 6.28, 29.98, 0.209472981987992),
 ('Tonga', 4.85, 23.0, 0.21086956521739128),
 ('Sao Tome and Principe', 7.24, 34.23, 0.2115103710195735),
 ('Togo', 7.26, 34.13, 0.21271608555522997),
 ('Ethiopia', 8.19, 37.27, 0.2197477864233968),
 ('Tanzania', 8.0, 36.39, 0.21984061555372356),
 ('Burundi', 9.27, 42.01, 0.2206617472030469),
 ('South Sudan', 8.18, 36.91, 0.22162015713898675),
 ('Honduras', 5.17, 23.14, 0.22342264477095936),
 ('Benin', 8.21, 36.02, 0.22792892837312603),
 ('Gambia, The', 7.15, 30.86, 0.23169151004536617),
 ('Ghana', 7.22, 31.09, 0.23222901254422643),
 ('Nauru', 5.87, 24.95, 0.23527054108216433),
 ('Belize', 5.97, 24.68, 0.2418962722852512),
 ('Dominican Republic', 4.55, 18.73, 0.24292578750667376),
 ('Uganda', 10.69, 43.79, 0.244119662023293),
 ('Senegal', 8.46, 34.52, 0.2450753186558517),
 ('Equatorial Guinea', 8.19, 33.31, 0.2458721104773341),
 ('Maldives', 3.89, 15.75, 0.246984126984127),
 ('Eritrea', 7.52, 30.0, 0.25066666666666665),
 ('Philippines', 6.11, 24.27, 0.2517511330861146),
 ('Tajikistan', 6.18, 24.38, 0.2534864643150123),
 ('Samoa', 5.32, 20.87, 0.2549113560134164),
 ('Malaysia', 5.03, 19.71, 0.2552004058853374),
 ('Kenya', 6.89, 26.4, 0.2609848484848485),
 ('Mauritania', 8.2, 31.34, 0.2616464582003829),
 ('Sudan', 7.66, 29.19, 0.26241863651935593),
 ('Panama', 4.81, 18.32, 0.2625545851528384),
 ('Morocco', 4.81, 18.2, 0.2642857142857143),
 ('Guinea', 9.46, 35.74, 0.2646894236149972),
 ('Bangladesh', 5.61, 21.14, 0.2653736991485336),
 ('Rwanda', 8.96, 33.75, 0.2654814814814815),
 ('Papua New Guinea', 6.53, 24.38, 0.26784249384741593),
 ('Comoros', 7.57, 27.84, 0.2719109195402299),
 ('Niger', 12.42, 45.45, 0.27326732673267323),
 ('Ecuador', 5.06, 18.51, 0.2733657482441923),
 ('Western Sahara', 8.34, 30.24, 0.2757936507936508),
 ('Venezuela', 5.31, 19.16, 0.27713987473903967),
 ('Israel', 5.15, 18.48, 0.2786796536796537),
 ('Burkina Faso', 11.72, 42.03, 0.27884844158934097),
 ('Congo, Republic of the', 10.0, 35.85, 0.2789400278940028),
 ('Cameroon', 10.11, 36.17, 0.2795134089024053),
 ('Mexico', 5.26, 18.78, 0.28008519701810436),
 ('Liberia', 9.69, 34.41, 0.2816041848299913),
 ('Nicaragua', 5.08, 18.03, 0.28175263449805876),
 ('Paraguay', 4.68, 16.37, 0.28588882101405005),
 ('Costa Rica', 4.55, 15.91, 0.2859836580766813),
 ('Bolivia', 6.52, 22.76, 0.28646748681898065),
 ('Mali', 12.89, 44.99, 0.2865081129139809),
 ('Pakistan', 6.49, 22.58, 0.28742249778565104),
 ('Congo, Democratic Republic of the', 10.07, 34.88, 0.28870412844036697),
 ('Kyrgyzstan', 6.65, 22.98, 0.2893820713664056),
 ('Sierra Leone', 10.81, 37.03, 0.2919254658385093),
 ('Angola', 11.49, 38.78, 0.2962867457452295),
 ('Cabo Verde', 6.11, 20.33, 0.3005410723069356),
 ('Zambia', 12.67, 42.13, 0.30073581770709706),
 ('Guam', 5.12, 16.82, 0.3043995243757432),
 ('Fiji', 6.04, 19.43, 0.31085949562532167),
 ('Uzbekistan', 5.3, 17.0, 0.31176470588235294),
 ('Mongolia', 6.35, 20.25, 0.3135802469135802),
 ('Mozambique', 12.1, 38.58, 0.31363400725764645),
 ('Zimbabwe', 10.13, 32.26, 0.3140111593304402),
 ('Laos', 7.63, 24.25, 0.31463917525773194),
 ('Turkmenistan', 6.13, 19.4, 0.315979381443299),
 ('Nepal', 6.56, 20.64, 0.31782945736434104),
 ('Cambodia', 7.68, 23.83, 0.3222828367603861),
 ('Djibouti', 7.73, 23.65, 0.3268498942917548),
 ('Colombia', 5.4, 16.47, 0.3278688524590164),
 ('Peru', 6.01, 18.28, 0.3287746170678337),
 ('French Polynesia', 5.02, 15.22, 0.3298291721419185),
 ('Iran', 5.94, 17.99, 0.33018343524180105),
 ('Kiribati', 7.12, 21.46, 0.3317800559179869),
 ("Cote d'Ivoire", 9.55, 28.67, 0.3331008022322986),
 ('Lebanon', 4.88, 14.59, 0.33447566826593556),
 ('Somalia', 13.62, 40.45, 0.3367119901112484),
 ('Nigeria', 12.9, 37.64, 0.3427205100956429),
 ('El Salvador', 5.69, 16.46, 0.3456865127582017),
 ('Sint Maarten', 4.51, 13.0, 0.3469230769230769),
 ('Haiti', 7.83, 22.31, 0.35096369341102646),
 ('Antigua and Barbuda', 5.69, 15.85, 0.3589905362776026),
 ('Tunisia', 5.98, 16.64, 0.359375),
 ('Turkey', 5.88, 16.33, 0.3600734843845683),
 ('New Caledonia', 5.52, 15.33, 0.36007827788649704),
 ('Afghanistan', 13.89, 38.57, 0.3601244490536687),
 ('Anguilla', 4.57, 12.67, 0.36069455406471984),
 ('Tuvalu', 8.74, 23.74, 0.36815501263689976),
 ('Jamaica', 6.7, 18.16, 0.368942731277533),
 ('Vietnam', 5.93, 15.96, 0.3715538847117794),
 ('India', 7.32, 19.55, 0.37442455242966755),
 ('Suriname', 6.13, 16.34, 0.37515299877600977),
 ('Wallis and Futuna', 5.06, 13.45, 0.3762081784386617),
 ('Bhutan', 6.69, 17.78, 0.3762654668166479),
 ('Gabon', 13.12, 34.49, 0.38040011597564505),
 ('Indonesia', 6.37, 16.72, 0.3809808612440192),
 ('Sri Lanka', 6.11, 15.85, 0.3854889589905363),
 ('Chad', 14.28, 36.6, 0.3901639344262295),
 ('Central African Republic', 13.8, 35.08, 0.39338654503990883),
 ('Singapore', 3.43, 8.27, 0.41475211608222495),
 ('Azerbaijan', 7.07, 16.64, 0.4248798076923077),
 ('Kazakhstan', 8.21, 19.15, 0.42872062663185384),
 ('Guinea-Bissau', 14.33, 33.38, 0.4292989814260036),
 ('Burma', 7.96, 18.39, 0.4328439369222403),
 ('Chile', 6.0, 13.83, 0.43383947939262474),
 ('Ireland', 6.48, 14.84, 0.4366576819407008),
 ('Argentina', 7.33, 16.64, 0.44050480769230765),
 ('Falkland Islands (Islas Malvinas)', 4.9, 10.9, 0.44954128440366975),
 ('Iceland', 6.28, 13.91, 0.45147375988497485),
 ('Bahamas, The', 7.05, 15.5, 0.45483870967741935),
 ('Brazil', 6.58, 14.46, 0.45504840940525587),
 ('Cayman Islands', 5.53, 12.11, 0.4566473988439307),
 ('British Virgin Islands', 4.99, 10.91, 0.4573785517873511),
 ('Guyana', 7.32, 15.59, 0.46953175112251444),
 ('Macau', 4.22, 8.88, 0.47522522522522515),
 ('South Africa', 9.91, 20.75, 0.47759036144578315),
 ('Seychelles', 6.89, 14.19, 0.485553206483439),
 ('Grenada', 8.08, 16.03, 0.5040548970679974),
 ('Albania', 6.58, 12.92, 0.5092879256965944),
 ('Dominica', 7.91, 15.41, 0.5133030499675535),
 ('Mauritius', 6.91, 13.29, 0.5199398043641836),
 ('Saint Kitts and Nevis', 7.09, 13.5, 0.5251851851851852),
 ('Saint Vincent and the Grenadines', 7.18, 13.57, 0.529108327192336),
 ('Saint Lucia', 7.42, 13.7, 0.5416058394160584),
 ('Swaziland', 13.56, 24.67, 0.5496554519659506),
 ('New Zealand', 7.36, 13.33, 0.5521380345086272),
 ('Montserrat', 6.3, 11.26, 0.5595026642984015),
 ('Cook Islands', 8.03, 14.33, 0.5603628750872296),
 ('Cyprus', 6.62, 11.41, 0.5801928133216476),
 ('Lesotho', 14.89, 25.47, 0.5846093443266589),
 ('Greenland', 8.49, 14.48, 0.5863259668508287),
 ('Australia', 7.14, 12.15, 0.5876543209876542),
 ('Curacao', 8.2, 13.8, 0.5942028985507245),
 ('Gibraltar', 8.37, 14.08, 0.5944602272727272),
 ('China', 7.53, 12.49, 0.6028823058446757),
 ('Faroe Islands', 8.71, 13.77, 0.6325344952795934),
 ('Korea, North', 9.21, 14.52, 0.6342975206611571),
 ('Trinidad and Tobago', 8.56, 13.46, 0.6359583952451708),
 ('Luxembourg', 7.24, 11.37, 0.6367634124890063),
 ('Botswana', 13.39, 20.96, 0.6388358778625954),
 ('Jersey', 7.68, 11.91, 0.6448362720403022),
 ('Aruba', 8.18, 12.56, 0.6512738853503184),
 ('United States', 8.15, 12.49, 0.6525220176140913),
 ('Norway', 8.12, 12.14, 0.6688632619439867),
 ('Liechtenstein', 7.12, 10.45, 0.6813397129186604),
 ('Armenia', 9.34, 13.61, 0.6862601028655401),
 ('Thailand', 7.8, 11.19, 0.6970509383378016),
 ('Namibia', 13.91, 19.8, 0.7025252525252526),
 ('Barbados', 8.44, 11.87, 0.7110362257792755),
 ('Uruguay', 9.45, 13.07, 0.7230298393267023),
 ('Palau', 7.99, 11.05, 0.7230769230769231),
 ('Bermuda', 8.23, 11.33, 0.7263901147396293),
 ('France', 9.16, 12.38, 0.739903069466882),
 ('Saint Helena, Ascension, and Tristan da Cunha', 7.44, 9.88, 0.7530364372469636),
 ('Hong Kong', 7.07, 9.23, 0.7659804983748646),
 ('United Kingdom', 9.35, 12.17, 0.7682826622843056),
 ('Switzerland', 8.13, 10.5, 0.7742857142857144),
 ('Cuba', 7.72, 9.9, 0.7797979797979797),
 ('Sweden', 9.4, 11.99, 0.7839866555462885),
 ('Macedonia', 9.08, 11.55, 0.7861471861471861),
 ('Puerto Rico', 8.67, 10.86, 0.7983425414364641),
 ('Netherlands', 8.66, 10.83, 0.7996306555863343),
 ('Canada', 8.42, 10.28, 0.8190661478599223),
 ('Korea, South', 6.75, 8.19, 0.8241758241758242),
 ('Virgin Islands', 8.54, 10.31, 0.8283220174587778),
 ('Taiwan', 7.11, 8.47, 0.8394332939787486),
 ('Belgium', 9.63, 11.41, 0.8439964943032429),
 ('Georgia', 10.82, 12.74, 0.8492935635792779),
 ('Andorra', 6.96, 8.13, 0.8560885608856088),
 ('Guernsey', 8.78, 9.84, 0.8922764227642276),
 ('Malta', 9.09, 10.18, 0.8929273084479371),
 ('Montenegro', 9.43, 10.42, 0.9049904030710173),
 ('Isle of Man', 10.06, 11.1, 0.9063063063063064),
 ('Finland', 9.83, 10.72, 0.9169776119402985),
 ('Spain', 9.04, 9.64, 0.937759336099585),
 ('San Marino', 8.45, 8.63, 0.9791425260718423),
 ('Slovakia', 9.74, 9.91, 0.9828456104944501),
 ('Denmark', 10.25, 10.27, 0.9980525803310614),
 ('European Union', 10.2, 10.2, 1.0),
 ('Austria', 9.42, 9.41, 1.0010626992561105),
 ('Poland', 10.19, 9.74, 1.0462012320328542),
 ('Moldova', 12.59, 12.0, 1.0491666666666666),
 ('Czech Republic', 10.34, 9.63, 1.0737279335410175),
 ('Bosnia and Herzegovina', 9.75, 8.87, 1.0992108229988726),
 ('Italy', 10.19, 8.74, 1.165903890160183),
 ('Estonia', 12.4, 10.51, 1.1798287345385348),
 ('Russia', 13.69, 11.6, 1.1801724137931033),
 ('Portugal', 11.02, 9.27, 1.1887810140237325),
 ('Japan', 9.51, 7.93, 1.1992433795712485),
 ('Belarus', 13.36, 10.7, 1.2485981308411216),
 ('Greece', 11.09, 8.66, 1.2806004618937643),
 ('Croatia', 12.18, 9.45, 1.288888888888889),
 ('Romania', 11.9, 9.14, 1.3019693654266957),
 ('Saint Pierre and Miquelon', 9.72, 7.42, 1.3099730458221026),
 ('Germany', 11.42, 8.47, 1.3482880755608027),
 ('Ukraine', 14.46, 10.72, 1.3488805970149254),
 ('Slovenia', 11.37, 8.42, 1.350356294536817),
 ('Monaco', 9.24, 6.65, 1.3894736842105262),
 ('Hungary', 12.73, 9.16, 1.3897379912663756),
 ('Lithuania', 14.27, 10.1, 1.4128712871287128),
 ('Latvia', 14.31, 10.0, 1.431),
 ('Serbia', 13.66, 9.08, 1.5044052863436124),
 ('Bulgaria', 14.44, 8.92, 1.6188340807174888)]

The country/territory with the lowest death to birth ratio is the Gaza Strip.

## Countries that will add the most people to their populations

In [19]:
%%sql

SELECT *, (population*(population_growth/100)) AS pop_growth
  FROM facts
 WHERE name <> 'World'
ORDER BY pop_growth DESC
LIMIT 10;

 * sqlite:///factbook.db
Done.

[(77, 'in', 'India', 3287263, 2973193, 314070, 1251695584, 1.22, 19.55, 7.32, 0.04, 15270686.124799998),
 (37, 'ch', 'China', 9596960, 9326410, 270550, 1367485388, 0.45, 12.49, 7.53, 0.44, 6153684.246),
 (129, 'ni', 'Nigeria', 923768, 910768, 13000, 181562056, 2.45, 37.64, 12.9, 0.22, 4448270.372),
 (132, 'pk', 'Pakistan', 796095, 770875, 25220, 199085847, 1.46, 22.58, 6.49, 1.54, 2906653.3662),
 (58, 'et', 'Ethiopia', 1104300, None, 104300, 99465819, 2.89, 37.27, 8.19, 0.22, 2874562.1691),
 (14, 'bg', 'Bangladesh', 148460, 130170, 18290, 168957745, 1.6, 21.14, 5.61, 0.46, 2703323.92),
 (186, 'us', 'United States', 9826675, 9161966, 664709, 321368864, 0.78, 12.49, 8.15, 3.86, 2506677.1392),
 (78, 'id', 'Indonesia', 1904569, 1811569, 93000, 255993674, 0.92, 16.72, 6.37, 1.16, 2355141.8008),
 (40, 'cg', 'Congo, Democratic Republic of the', 2344858, 2267048, 77810, 79375136, 2.45, 34.88, 10.07, 0.27, 1944690.8320000002),
 (138, 'rp', 'Philippines', 300000, 298170, 1830, 100998376, 1.61, 24.27, 6.11, 2.09, 1626073.8536)]

India is due to add the most people to their population, followed by China.

## Future questions?